{% extends 'base.html' %}
{% load static %}
{% block body %}
<title>SimplFit - Blog-Details</title>
   
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class= blog.a>
        <a href="{% url 'blog' %}" class='btn my-3' style="background-color: #f7c546; color: white;">Go Back</a></div>
        <div class="row g-5">
            <div class="section-title">
                <span>Blog - Details</span>
                <h2>Blog - Details</h2>
                </div>

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <img src="https://d18mqtxkrsjgmh.cloudfront.net/public/styles/header_image/public/2022-03/Strength%20Training%20Linked%20to%20Less%20Premature%20Mortality%2C%20CVD%2C%20and%20Diabetes.jpg?itok=yfbJCjiT" style="width: 1000px; height: 400px;" alt="" class="img-fluid">
              </div>

              <h2 class="title">5 Compound Exercises You Should Add to Your Workout</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details-1.html">Elizabeth Andrews</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details-1.html"><time datetime="2020-01-01">January 19, 2023</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                    Sometimes when we train we try to get too fancy. We forget the simple exercises that can hit multiple body parts at once. Compound exercises, for example, allow you to “use the heaviest load possible, involve multiple joint articulations and stimulate a large amount of muscle mass,” explains Eric Cressey, president of Cressey Sports Performance. “As an added bonus, the majority of these movements are performed [from a] standing position, meaning that you will need to display proper control of your body. Compound exercises are also more likely to increase your anabolic response to training, which is paramount when you’re trying to increase lean muscle tissue.” 

                </p>

                <p>
                    <h3>1. Hip Hinge or Deadlift</h3>
                  This compound movement targets the forearms, lats, glutes, hamstrings, core stabilizers and upper-, mid- and lower-back. It’s an amazing exercise for the whole posterior chain. 
                 <br>Stand with feet about hip-width apart. Make sure you are close enough to the bar. Drive your hips back. Take tension out of the bar. Brace your core, keep tension in the lats and the knees soft as you push your heels into the floor. As the bar approaches the knees, think about shooting your hips into the bar. Finish in a tall stand while clenching your glutes. 

                </p>

                <p>
                    <h3>2. Squat</h3>
                    This exercise enhances mobility in the hips and ankles, and challenges core stabilizers, posterior chain, lower legs and quads. 
                    <br>
                    Stand with feet shoulder-width apart. Dial your feet into the floor, activating your hips. Control the downward, or eccentric phase toward the floor—don’t let gravity lower you down. Move the tailbone toward the floor, while maintaining a tall, engaged torso. Push the floor away and rise to stand, fully extending.

                </p>
                <p>
                    <h3>3. Loaded Carries</h3>
                    This exercise targets grip, shoulders, back, core stabilizers, arms and legs. You can perform loaded carries with dumbbells, buckets of water, kettlebells, sandbags, trap bars, etc. 
                    <br>
                    Brace your core and bend down and grab two of the heavy implements you will be using and walk as far as you can. Rest and then do it again…and again.
                    
                </p>

                <p>
                    <h3>4. Pull-ups</h3>
                    The primary movements of the lats are upper-arm adduction, internal rotation and extension, but their secondary properties make them adaptable to train for posture. Strengthening the lats will provide better postural stabilization of the spine and lower pelvis because of its attachment points. The pull-up also trains grip, arms, shoulders, back, core and pelvic floor. 
                    <br>
                    To start, arms should be fully extended. True pull-ups work through a full range of motion. Retract the scapula, stabilize the girdle and initiate the work or muscular contractions by pulling your body up until your chin is over the bar. Lower the body in a very controlled manner until arms are fully extended. 
                    
                </p>

                <p>
                    <h3>5. Push-ups</h3>
                    Your arms, shoulders, serratus, core stabilizers and pectoral muscles, along with the legs, glutes and lats are all engaged to help you maintain a zipped-up line. 
                    <br>
                    Place your hands on the floor directly under the shoulders with fingers spread wide. Squeeze the glutes and press the heels away. Keep your head in line with your body and bend the elbows to lower the chest with control toward the floor. There should be no sagging anywhere in your body. Keep the legs, glutes and shoulders engaged as you press back up to the starting position.
                    
                </p>
              </div>

            </article>

            <div class="post-author d-flex align-items-center">
              <img src="https://ik.imagekit.io/02fmeo4exvw/blogs/authors/N310735.jpg?tr=w-240" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Elizabeth Andrews</h4>
                <div class="social-links">
                  <a href="https://twitter.com/share?text=5%20Compound%20Exercises%20You%20Should%20Add%20to%20Your%20Workout&url=https://www.acefitness.org/resources/pros/expert-articles/5299/5-compound-exercises-you-should-add-to-your-workout/"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/dialog/share?app_id=101092303305908&display=popup&href=https://www.acefitness.org/resources/pros/expert-articles/5299/5-compound-exercises-you-should-add-to-your-workout/&redirect_uri=https://www.acefitness.org/resources/pros/expert-articles/5299/5-compound-exercises-you-should-add-to-your-workout/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/acefitness/"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                    Elizabeth holds many specialty certifications, including ACSM, ACE, Animal Flow, FMS, FRC, DVFT, EBFA and has 200 hour Yoga Alliance. She is currently working towards her 300 hour with Noah Maze. You can find Elizabeth on IG @elizabeth.s.andrews.  
                </p>
              </div>
            </div>


          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="https://blog.myfitnesspal.com/wp-content/uploads/2021/04/Which-Food-Tracking-Method-Works-Best-for-Weight-Loss-2-750x592.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://blog.myfitnesspal.com/which-food-tracking-method-works-best-for-weight-loss/l" target="popup" 
                        onclick="window.open('https://blog.myfitnesspal.com/which-food-tracking-method-works-best-for-weight-loss/l','popup','width=600,height=600'); return false;">Which Food Tracking Method Works Best for Weight Loss?</a></h4>
                      <time datetime="2020-01-01">Mar 3, 2023</time>
                    </div>
                  </div>

                  <div class="post-item">
                    <img src="https://blog.myfitnesspal.com/wp-content/uploads/2022/05/WHM_Week1_Blog_Hero-750x592.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://blog.myfitnesspal.com/eating-for-impact-ways-to-eat-for-energy/" target="popup" 
                        onclick="window.open('https://blog.myfitnesspal.com/eating-for-impact-ways-to-eat-for-energy/','popup','width=600,height=600'); return false;">Eating For Impact: 7 Ways to Eat for Energy</a></h4>
                      <time datetime="2020-01-01">Feb 28, 2023</time>
                    </div>
                  </div>

                  <div class="post-item">
                    <img src="https://blog.myfitnesspal.com/wp-content/uploads/2021/06/2880kitchen-4--750x592.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://blog.myfitnesspal.com/watch/do-macros-matter-or-should-i-focus-on-calories/" target="popup" 
                        onclick="window.open('https://blog.myfitnesspal.com/watch/do-macros-matter-or-should-i-focus-on-calories/','popup','width=600,height=600'); return false;">Do Macros Matter or Should I Focus On Calories?</a></h4>
                      <time datetime="2020-01-01">Mar 1, 2023</time>
                    </div>
                  </div>

                  <div class="post-item">
                    <img src="https://blog.myfitnesspal.com/wp-content/uploads/2019/10/What-Happens-to-Your-Body-on-Sugar-750x592.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://blog.myfitnesspal.com/what-happens-to-your-body-on-sugar/" target="popup" 
                        onclick="window.open('https://blog.myfitnesspal.com/what-happens-to-your-body-on-sugar/','popup','width=600,height=600'); return false;">What Happens to Your Body on Sugar</a></h4>
                      <time datetime="2020-01-01">Feb 24, 2023</time>
                    </div>
                  </div>

                  <div class="post-item">
                    <img src="https://blog.myfitnesspal.com/wp-content/uploads/2023/03/9-Tips-for-a-Clean-Bulking-Cycle-750x592.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://blog.myfitnesspal.com/tips-for-a-clean-bulking-cycle/ " target="popup" 
                        onclick="window.open('https://blog.myfitnesspal.com/tips-for-a-clean-bulking-cycle/','popup','width=600,height=600'); return false;">9 Tips for a Clean Bulking Cycle</a></h4>
                      <time datetime="2020-01-01">Mar 23, 2023</time>
                    </div>
                  </div>

                </div>

              </div>

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                    <li><a href="https://blog.myfitnesspal.com/" target="popup" 
                      onclick="window.open('https://blog.myfitnesspal.com/','popup','width=600,height=600'); return false;">Fitness</a></li>
                    <li><a href="blog-details-3.html">Health</a></li>
                    <li><a href="blog-details-2.html">Food</a></li>
                    <li><a href="blog-details-1.html">Workout</a></li>
                    <li><a href="https://nutritionstripped.com/articles/" target="popup" 
                      onclick="window.open('https://nutritionstripped.com/articles/','popup','width=600,height=600'); return false;">Nutrition</a></li>
                    <li><a href="https://blog.calm.com/" target="popup" 
                      onclick="window.open('https://blog.calm.com/','popup','width=600,height=600'); return false;">Mental Health</a></li>
                    <li><a href="bitesofwellness.com" target="popup" 
                      onclick="window.open('bitesofwellness.com','popup','width=600,height=600'); return false;">Wellness</a></li>
                    <li><a href="https://www.wellandgood.com/" target="popup" 
                      onclick="window.open('https://www.wellandgood.com/','popup','width=600,height=600'); return false;">Lifestyle</a></li>
                </ul>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>

  </main>
{% endblock %}