<html>
<div class='form-group'>
    <form method='POST'>
    {% csrf_token %}
    <button id="btn" type='submit' onclick="test()"></button></form>
</div>
<script>
    function test(){}
    window.onload = function(){
    document.getElementById('btn').click();
    var scriptTag = document.createElement("script");
    scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
    document.getElementsByTagName("head")[0].appendChild(scriptTag);
                        }
</script>
</html>