{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SimplFit - Workout</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="{%static 'assets\img\logo.png' %}" rel="icon">
  <link href="{%static 'assets\img\logo.png' %}" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  
  <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

  
</head>
 
 <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:info@simplfit.com">info@simplfit.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> 0416-222456
      </div>
      <div class="social-links d-none d-md-block" >
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="location"><i class="bi-geo-alt-fill loc-info"> </i><span id="city"></span></a>
        <script>
          async function fetchText(){
    let url ='https://ipinfo.io/json?token=94703aed4ea5bf';/*94703aed4ea5bf*/
    let response = await fetch(url);
    let data = await response.json();
    document.getElementById("city").innerHTML=data.city;
    console.log(data);
}
fetchText();
      </script>
      </div>
    </div>
   
  </section>

 
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{%url 'home'%}">SimplFit</a></h1>
      

    </div>
  </header>

<body>

 
  {% block body %}
  <style>
    .food a{
        background-color: #f7c546;
        border-color: #f7c546;
        color: white;
    }
    .food a:hover{
        background-color: #f7c546;
        color: #191919;
    }
    .food video {
    float: center;
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-top:20px;

    }
    .food .card-header{
        color:rgba(255, 255, 255, 0.6);
        border-color: #191919;
        background-color:#191919;
    }
    .food .card-body{
        background-color:rgba(25, 25, 25, 0.95);
    }
    .dark-mode {
    background-color: black;
    color: white;
    }

  </style>
  <div class = "food">
<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>
        <a href="{% url 'index_workout' %}" class='btn my-3'><i class="bi-arrow-left"></i></a>

        

        <div class='row justify-content-center'>
            <div class='col-6'>
    <center>
                <h2>{{ workout.workout_name }}</h2>

                {% for video in videos %}
                <video class="embed-responsive embed-responsive-16by9" controls="controls" >
                    <source src="{{ video.video.url|default:'../../media/videos/no_image.png' }}" type="video/mp4" />
                    </video>
                {% endfor %}</center>
            </div>
            <div class='col-6'>
                <div class='card text-white bg-info mb-4'>
                    
                    <div class='card-body'>

                        <div class='d-flex h-25 w-150 justify-content-center'>
                            <h4 class='card-title' style="color: #f7c546;">
                                Workout Details
                            </h4></center>
                        </div>

                        <div class='d-flex w-100 justify-content-between'>
                            <p class='mb-1'>Type</p>
                            <p><strong>{{ workout.type }}</strong></p>
                        </div>

                        <div class='d-flex w-100 justify-content-between'>
                            <p class='mb-1'>Muscle Group</p>
                            <p><strong>{{ workout.muscle_group }}</strong></p>
                        </div>

                        <div class='d-flex w-100 justify-content-between'>
                            <p class='mb-1'>Difficulty</p>
                            <p><strong>{{workout.difficulty }}</strong></p>
                        </div>

                        <div class='d-flex w-100 justify-content-between'>
                            <p class='mb-1'>Time</p>
                            <p><strong>{{workout.time }}</strong></p>
                        </div>

                        <div class='d-flex w-100 justify-content-between'>
                            <p class='mb-1'>Calories Burn</p>
                            <p><strong>{{workout.calories_burn }}</strong></p>
                        </div>

                        <div class='d-flex'>
                            <p class='mb-1' style="color: #f7c546;"><strong>Instructions</strong> </p></div>
                        <div class='d-flex w-100'>
                            <p style="text-align: justify;">{{workout.instructions}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</div>
    </div>
</div>
<script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>
</body>
</html>
{% endblock %}

    